/* d-day css */

.count {
    position: absolute;
    left: 15px;
    top: 11px;
    display: block;
    width: 46px;
    height: 20px;
    line-height: 19px;
    text-align: center;
    font-size: 12px;
    font-weight: 400;
    color: #fff;
    background: #da8b16;
    border-radius: 10px
}

.count1 {
    position: absolute;
    left: 15px;
    top: 37px;
    display: block;
    width: 46px;
    height: 20px;
    line-height: 19px;
    text-align: center;
    font-size: 12px;
    font-weight: 400;
    color: #fff;
    background: yellowgreen;
    border-radius: 10px
}

#text1{
    text-align: center;
    margin-top: -9px;
}
