
BODY {
    FONT-SIZE: 10pt;
    FONT-FAMILY: 굴림;
    COLOR: #000000;
    MARGIN: 0px
}

P {
    MARGIN-BOTTOM: 0px;
    MARGIN-TOP: 0px;
    LINE-HEIGHT: 1.2
}

LI {
    MARGIN-BOTTOM: 0px;
    MARGIN-TOP: 0px;
    LINE-HEIGHT: 1.2
}

BODY {
    FONT-SIZE: 10pt;
    FONT-FAMILY: 굴림;
    COLOR: #000000;
    MARGIN: 0px
}

P {
    MARGIN-BOTTOM: 0px;
    MARGIN-TOP: 0px;
    LINE-HEIGHT: 1.2
}

LI {
    MARGIN-BOTTOM: 0px;
    MARGIN-TOP: 0px;
    LINE-HEIGHT: 1.2
}


BODY {
    FONT-SIZE: 11pt;
    FONT-FAMILY: Malgun Gothic;
    COLOR: #000000;
    MARGIN: 0px
}

P {
    MARGIN-BOTTOM: 0px;
    MARGIN-TOP: 0px;
    LINE-HEIGHT: 1.2
}

LI {
    MARGIN-BOTTOM: 0px;
    MARGIN-TOP: 0px;
    LINE-HEIGHT: 1.2
}
