/*
    * : 전체
    이름 : 태그명
    #이름 : 아이디명
    .이름 : 클래스명
*/


.detailName{
    width: 80%;
    height:237px;
    margin: 0% 10% 0% 10%;
}

.card-img-overlay{
    display: flex;
    align-items: center;
}

.card-title{
    width:100%;
    text-align: center;
}

.top{
    width: 100%;
    height:400px;
    display: flex;
    flex-direction: row;
}

.divrow{
    display:flex;
    flex-direction:row;
    justify-content: space-between;
}
.form-check-s,.form-check-b,.form-check-v,.form-check-j{
    visibility: hidden;
}

.chks,.chkb,.chkv,.chkj{
    visibility: hidden;
}

