<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
				  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
				  "http://mybatis.org/dtd/mybatis-3-config.dtd">
				  
<configuration>
	<typeAliases>
		<typeAlias type="com.iu.home.licenseList.LicenseListDAO" alias="LicenseListDAO"/>
		<typeAlias type="com.iu.home.licenseList.LicenseListDTO" alias="LicenseListDTO"/>
		
		<typeAlias type="com.iu.home.licenseList.LicenseDetailDTO" alias="LicenseDetailDTO"/>
		<typeAlias type="com.iu.home.licenseList.LicenseJobDTO" alias="LicenseJobDTO"/>
		<typeAlias type="com.iu.home.licenseList.StudyBookDTO" alias="StudyBookDTO"/>
		<typeAlias type="com.iu.home.licenseList.StudyVideoDTO" alias="StudyVideoDTO"/>
	
	
		<typeAlias type="java.lang.String" alias="String"/>
		<typeAlias type="java.lang.Long" alias="Long"/>		
		<typeAlias type="java.util.List" alias="List"/>
	</typeAliases>

</configuration>
