<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
				  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
				  "http://mybatis.org/dtd/mybatis-3-config.dtd">
				  
<configuration>
	<typeAliases>
		<typeAlias type="com.iu.home.licensemembers.LicenseMembersDTO" alias="LicenseMembersDTO"/>
		<typeAlias type="com.iu.home.licensemembers.AdminRoleDTO" alias="AdminRoleDTO"/>
		
		<typeAlias type="com.iu.home.HomeDTO" alias="HomeDTO"/>
		<typeAlias type="com.iu.home.licenseList.BookDTO" alias="BookDTO"/>
		<typeAlias type="com.iu.home.licenseList.JobDTO" alias="JobDTO"/>
		<typeAlias type="com.iu.home.licenseList.LicenseBookDTO" alias="LicenseBookDTO"/>
		<typeAlias type="com.iu.home.licenseList.LicenseDTO" alias="LicenseDTO"/>
		<typeAlias type="com.iu.home.licenseList.LicenseJobDTO" alias="LicenseJobDTO"/>
		<typeAlias type="com.iu.home.licenseList.LicenseScheduleDTO" alias="LicenseScheduleDTO"/>
		<typeAlias type="com.iu.home.licenseList.LicenseVideoDTO" alias="LicenseVideoDTO"/>
		<typeAlias type="com.iu.home.licenseList.ScheduleDTO" alias="ScheduleDTO"/>
		<typeAlias type="com.iu.home.licenseList.VideoDTO" alias="VideoDTO"/>
		
		
		<typeAlias type="com.iu.home.licenseorder.OrderDTO" alias="OrderDTO"/>
		<typeAlias type="com.iu.home.licenseorder.PayDTO" alias="PayDTO"/>
		<typeAlias type="com.iu.home.licenseadmin.AdminDTO" alias="AdminDTO"/>		

	
	
		<typeAlias type="java.lang.String" alias="String"/>
		<typeAlias type="java.lang.Long" alias="Long"/>		
		<typeAlias type="java.lang.Integer" alias="int"/>		
		<typeAlias type="java.util.List" alias="List"/>

		<typeAlias type="com.iu.home.util.Pager" alias="Pager"/>
		<typeAlias type="com.iu.home.util.CommentPager" alias="CommentPager"/>
		<typeAlias type="com.iu.home.licenseQna.QnaDTO" alias="QnaDTO"/>
		<typeAlias type="com.iu.home.licenseQna.QnaFileDTO" alias="QnaFileDTO"/>
		<typeAlias type="com.iu.home.licenseQna.QnaCommentDTO" alias="QnaCommentDTO"/>

		
		<typeAlias type="com.iu.home.studyCafe.cafeDTO" alias="cafeDTO"/>
		<typeAlias type="com.iu.home.studyCafe.cafeDetailDTO" alias="cafeDetailDTO"/>
		<typeAlias type="com.iu.home.studyCafe.cafeRoomDTO" alias="cafeRoomDTO"/>
		<typeAlias type="com.iu.home.studyCafe.reservationDTO" alias="reservationDTO"/>

	</typeAliases>

</configuration>
