<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/resources/css/d-day.css">
    <title>D-DAY</title>
</head>

<body>
    <div class="cards">
        <c:forEach items="${requestScope.list}" var="dto">
                <div class="card" >
                    <div class="user-wrap">
                        <img src="https://janet.co.kr/data/licenseitem/155/7JiB7Ja0.jpg" class="card-img-top" alt="...">
                        <div class="user-text">조회수 ${dto.licenseHits}</div>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">${dto.licenseName}</h5>
                        
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    
                        <div class="detail">
                            <a href="./detail?licenseNum=${dto.licenseNum}" class="btn btn-primary">자격증 상세 보기</a>
                        </div>
                    </div>
                </div><br>
            </c:forEach> 
        </div>

        <div class="card">
            <img src="https://janet.co.kr/data/licenseitem/155/7JiB7Ja0.jpg" class="card-img-top" alt="...">
            <!-- d-day -->
            <div class="count"></div>
            <div class="card-body">
                <h5 class="card-title">정보처리기사</h5>

                <p class="card-text">Some quick example text to build on the card title and make up the bulk
                    of the card's content.</p>

                <div class="detail">
                    <a href="./info/detail?licenseNum=1" class="btn btn-primary">자격증 상세 보기</a>
                </div>
                <div class="col-lg-5 user-schedule" >
                    <p>
                        <div>
                            <c:forEach items="${requestScope.detailSchedule}" var="detailSchedule">
                                ${detailSchedule.scheduleDTO.scheduleName}<br>
                                ${detailSchedule.scheduleDTO.scheduleDate}<br><br>
                            </c:forEach>
                        </div>
                    </p>
                </div>
            </div>
        </div><br>
    </div>
    <script src="/resources/js/d-day.js"></script>
</body>

</html>