<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="/resources/css/infoMain.css"></script>
</head>
<body onload = "changeImage()">
    <img id = "introImg" border="0">
    <!-- <div class="container">
         <button type="button" onclick="changeimage()">reset</button>
          <div class="mainbox">
          <img img="introImg" src="https://janet.co.kr/data/licenseitem/144/7ZWc6rWt7IKs2.jpg">
          <img img="introImg" src="https://janet.co.kr/data/licenseitem/150/.6rO17Ya17J2867O47Ja07IOB7IS4.jpg">
          <img img="introImg" src="https://janet.co.kr/data/licenseitem/155/7JiB7Ja0.jpg">
          <img img="introImg" src="https://janet.co.kr/data/licenseitem/153/HSK7IOB7IS4.jpg">
          <img img="introImg" src="https://janet.co.kr/data/licenseitem/1622600872/496.OPIC7Jik7ZS97JiB7Ja0_web.jpg">
          <img img="introImg" src="https://janet.co.kr/data/licenseitem/1622600926/309.7L2U65Sp7KeA64E7IKs_web.jpg">

        </div>
      </div> -->

      <script src="/resources/js/image.js"></script>
</body>
</html>