<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <div class="container">
      <body onload="changeImage()">
      <div class="mainbox">
        <img class="box box1" src="https://janet.co.kr/data/licenseitem/104/7KeB7JeF7IOB64u07IKs7IOB7IS4.jpg">
        <img class="box box2" src="https://janet.co.kr/data/licenseitem/150/.6rO17Ya17J2867O47Ja07IOB7IS4.jpg">
        <img class="box box3" src="https://janet.co.kr/data/licenseitem/155/7JiB7Ja0.jpg">
        <img class="box box4" src="https://janet.co.kr/data/licenseitem/153/HSK7IOB7IS4.jpg">
        <img class="box box5" src="https://janet.co.kr/data/licenseitem/1622600872/496.OPIC7Jik7ZS97JiB7Ja0_web.jpg">
        <img class="box box6" src="https://janet.co.kr/data/licenseitem/1622600926/309.7L2U65Sp7KeA64E7IKs_web.jpg">
        <img class="box box7" src="https://janet.co.kr/data/licenseitem/101/7KCV67O07LKY66as6riw7IKs.jpg">
        <img class="box box8" src="https://janet.co.kr/data/licenseitem/190/.6rO17Ya17IKs66y07IOB7IS4.jpg">
        <img class="box box9" src="https://janet.co.kr/data/licenseitem/180/4.GTQ.jpg">
        <img class="box box10" src="https://janet.co.kr/data/licenseitem/343/552.7J6Q7IKw6rSA66as7IKsFP_web.jpg">
        <img class="box box11" src="https://janet.co.kr/data/licenseitem/176/ITQ.jpg">
      </div>
    </div>
    <script src="/resources/js/image.js"></script>
</head>
</html>


<!-- <body onload = "changeImage()">
    <img id = "imageList" border="0">

      <script src="/resources/js/image.js"></script>
</body> -->