<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/resources/css/top10.css">
    <title>top10</title>
</head>

<body>
    <p data-v-488a966e="">
        어떤 자격증이 <em class="y-point" data-v-488a966e="">인기</em>가 많은지, <em class="y-point" data-v-488a966e="">취업</em>이
        잘되는지
        <em class="y-point" data-v-488a966e="">자격증 순위</em>가 궁금하신가요?
    </p>

    <div class="rankingBox" data-v-19226b75="">
        <h3 data-v-19226b75=""><span data-v-19226b75="">자격증TOP10</span></h3>
        <ul data-v-19226b75="">
            <li data-v-19226b75=""><a href="./detail?licenseNum=1" data-v-19226b75="">정보처리기사</a>
                <div data-v-19226b75=""></div>
            </li>
            <li data-v-19226b75=""><a href="./detail?licenseNum=2" data-v-19226b75="">전기기사</a>
                <div data-v-19226b75=""></div>
            </li>
            <li data-v-19226b75=""><a href="./detail?licenseNum=3" data-v-19226b75="">한식조리기능사</a>
                <div data-v-19226b75=""></div>
            </li>
            <li data-v-19226b75=""><a href="./detail?licenseNum=4" data-v-19226b75="">빅데이터분석기사</a>
                <div data-v-19226b75=""></div>
            </li>
            <li data-v-19226b75=""><a href="./detail?licenseNum=5" data-v-19226b75="">정보처리기능사</a>
                <div data-v-19226b75=""></div>
            </li>
            <li data-v-19226b75=""><a href="./detail?licenseNum=51" data-v-19226b75="">기사1</a>
                <div data-v-19226b75=""></div>
            </li>
            <li data-v-19226b75=""><a href="./detail?licenseNum=52" data-v-19226b75="">기사2</a>
                <div data-v-19226b75=""></div>
            </li>
            <li data-v-19226b75=""><a href="./detail?licenseNum=53" data-v-19226b75="">기사3</a>
                <div data-v-19226b75=""></div>
            </li>
            <li data-v-19226b75=""><a href="./detail?licenseNum=54" data-v-19226b75="">기사4</a>
                <div data-v-19226b75=""></div>
            </li>
            <li data-v-19226b75=""><a href="./detail?licenseNum=55" data-v-19226b75="">기사5</a>
                <div data-v-19226b75=""></div>
            </li>
        </ul>
    </div>

    <script src="/resources/js/top10.js"></script>
</body>

</html>