<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="com.iu.home.licenseadmin.AdminDAO">
 	
    <delete id="orderCancle" parameterType="AdminDTO">
		delete sc_order_user WHERE orderNum=#{orderNum}
	</delete>
	
	<delete id="payMentCancle" parameterType="PayDTO">
		delete SCPAY WHERE orderNum=#{orderNum}
	</delete>
	
	
	<select id="adminList" parameterType="AdminDTO" resultType="AdminDTO">
		SELECT *
		from SC_ORDER_USER
		WHERE orderNum=#{orderNum}
	</select>
    
</mapper>