<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
    <mapper namespace="com.iu.home.studyCafe.cafeDAO">
    	<select id="getList" resultType="cafeDTO">
    		SELECT * FROM STUDYCAFE ORDER BY SCNUM ASC
    	</select>
    	
    	<select id="getDetail" parameterType="cafeDTO" resultType="cafeDetailDTO">
    		SELECT * FROM STUDYCAFEDETAIL WHERE SCNAME IN (SELECT SCNAME FROM STUDYCAFE WHERE SCNAME = #{scName})
    	</select>
    	<select id="getRoomList" parameterType="cafeDetailDTO" resultType="cafeRoomDTO">
    		SELECT * FROM STUDYROOMDETAIL WHERE DETAILNUM IN (SELECT DETAILNUM FROM STUDYCAFEDETAIL WHERE DETAILNUM = #{detailNum})
    	</select>
    	<insert id="completeR" parameterType="reservationDTO">
    		INSERT INTO SCROOMDETAIL (STARTDATE, ENDDATE, STARTTIME, ENDTIME) VALUES (#{startDate}, #{endDate}, #{startTime}, #{endTime})
    	</insert>
    	
    </mapper>
    
    