<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
    <mapper namespace="com.iu.home.studyCafe.cafeDAO">
    	<select id="getList" resultType="cafeDTO">
    		SELECT S.* , J.AREANAME FROM STUDYCAFE S JOIN AREA J ON (S.AREANAME= J.AREANAME) ORDER BY SCNUM ASC
    	</select>
    	
    	<select id="getDetail" parameterType="cafeDTO" resultType="cafeDetailDTO">
    		SELECT * FROM STUDYCAFEDETAIL WHERE SCNAME IN (SELECT SCNAME FROM STUDYCAFE WHERE SCNAME = #{scName})
    	</select>
    	<select id="getRoomList" parameterType="cafeDetailDTO" resultType="cafeRoomDTO">
    		SELECT * FROM STUDYROOMDETAIL WHERE DETAILNUM IN (SELECT DETAILNUM FROM STUDYCAFEDETAIL WHERE DETAILNUM = #{detailNum})
    	</select>
    	
    	<insert id="addDate" parameterType="reservationDTO">
	    	<selectKey keyProperty="reserNum" order="BEFORE"
				resultType="Long">
				SELECT RESER_SEQ.NEXTVAL FROM DUAL
			</selectKey>
    		INSERT INTO RESERVATION (RESERNUM, ROOMNAME, SEDATE, SETIME, DETAILNUM,TIMELENGTH) 
    		VALUES (#{reserNum}, #{roomName}, #{seDate}, #{seTime}, #{detailNum},#{timeLength})
    	</insert>
    	<!-- <update id="updateSit">
    		UPDATE STUDYROOMDETAIL SET ROOMCOUNT= #{roomCount} WHERE ROOMNUM = #{roomNum} 
    	</update> -->
    	
    	<select id="getReList" parameterType="reListDTO" resultType="reListDTO">
    		SELECT J.RESERNUM,E.detailNum, E.SCNAME, E.CDPAY*J.timelength AS CDPAY, E.IMG, J.ROOMNAME, J.SEDATE, J.SETIME 
			FROM 
			STUDYCAFEDETAIL E JOIN 
			RESERVATION J 
			ON (E.DETAILNUM = J.DETAILNUM)
            WHERE RESERNUM = #{reserNum}
    	</select>
    </mapper>
    
    