<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
    <mapper namespace="com.iu.home.studyCafe.cafeDAO">
    	<select id="getList" resultType="CafeDTO" parameterType="CafeDTO">
    		SELECT S.* , J.AREANAME FROM STUDYCAFE S JOIN AREA J ON (S.AREANAME= J.AREANAME) ORDER BY SCNUM ASC
    	</select>
    	
    	<select id="getDetail" parameterType="CafeDTO" resultType="CafeDetailDTO">
    		SELECT * FROM STUDYCAFEDETAIL WHERE SCNAME IN (SELECT SCNAME FROM STUDYCAFE WHERE SCNAME = #{scName})
    	</select>
    	<select id="getRoomList" parameterType="CafeDetailDTO" resultType="CafeRoomDTO">
    		SELECT * FROM STUDYROOMDETAIL WHERE DETAILNUM IN (SELECT DETAILNUM FROM STUDYCAFEDETAIL WHERE DETAILNUM = #{detailNum})
    	</select>
    	
    	<insert id="addDate" parameterType="ReservationDTO">
	    	<selectKey keyProperty="reserNum" order="BEFORE"
				resultType="Long">
				SELECT RESER_SEQ.NEXTVAL FROM DUAL
			</selectKey>
    		INSERT INTO RESERVATION (RESERNUM, ROOMNAME, SEDATE, SETIME, DETAILNUM,TIMELENGTH) 
    		VALUES (#{reserNum}, #{roomName}, #{seDate}, #{seTime}, #{detailNum},#{timeLength})
    	</insert>
    	
    	<update id="setOrderChange" parameterType="ReservationDTO">
    		UPDATE RESERVATION SET 
			ROOMNAME = #{roomName}, 
			sedate = #{seDate},
			setime = #{seTime},
			timelength =#{timeLength}
			WHERE reserNum = #{reserNum}
    	</update>  
    	  	
    	<select id="getReList" parameterType="ReListDTO" resultType="ReListDTO">
    		SELECT J.RESERNUM,E.detailNum, E.SCNAME, E.CDPAY*J.timelength AS CDPAY, E.IMG, J.ROOMNAME, J.SEDATE, J.SETIME 
			FROM 
			STUDYCAFEDETAIL E JOIN 
			RESERVATION J 
			ON (E.DETAILNUM = J.DETAILNUM)
            WHERE RESERNUM = #{reserNum}
    	</select>
    	
    	<select id="getSeTimeCheck" parameterType="ReservationDTO" resultType="ReservationDTO" >
    		SELECT SETIME FROM RESERVATION where sedate=#{seDate} AND ROOMNAME = #{roomName} AND DETAILNUM = #{detailNum}
    	</select>
    </mapper>
    
    