<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
		    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
		    
<mapper namespace="com.iu.home.licenseList.LicenseDAO">

	<select id="getList" resultType="LicenseDTO">
		SELECT LICENSENUM,LICENSENAME FROM LICENSE ORDER BY LICENSENUM ASC
	</select>

</mapper>