<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
		    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
		    
<mapper namespace="com.iu.home.licenseList.LicenseDAO">

	<select id="getList" resultType="LicenseDTO">
		SELECT LICENSENUM,LICENSENAME FROM LICENSE ORDER BY LICENSENUM ASC
	</select>
	
	<select id="getDetail" parameterType="LicenseDTO" resultMap="getBook">
		
		SELECT *
		FROM    LICENSE L
		        INNER JOIN
		        LICENSEBOOK LB
		        USING (LICENSENUM)
		        INNER JOIN
		        BOOK B
		        USING (BOOKNUM)
		        WHERE LICENSENUM=#{licenseNum}
		        ORDER BY BOOKNAME ASC
	</select>
	
	<resultMap type="LicenseDTO" id="getBook">
		<id column = "LICENSENUM" property="licenseNum"/>
		<result column ="LICENSENAME" property="licenseName" />
		<association property="bookDTO" javaType="BookDTO">
			<id column = "BOOKNUM" property="bookNum" />
			<result column ="BOOKNAME" property="bookName"/>
			<result column ="BOOKIMAGE" property="bookImage"/>
			<result column ="BOOKPRICE" property="bookPrice"/>
		</association>
	</resultMap>

</mapper>