<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
		    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.iu.home.licenseList.LicenseDAO">

<sql id="search">
		WHERE
		<choose>
			<when test="kind =='licenseName'">licenseName</when>
			<otherwise>licenseNum</otherwise>
		</choose>
		LIKE '%'||#{search}||'%'
	</sql>

	<select id="getListLikes" resultType="LicenseDTO" parameterType="LicenseLikeDTO">
		SELECT LICENSENUM FROM LICENSELIKE WHERE NUM=#{num}
	</select>

	<select id="getList" resultType="LicenseDTO">
		SELECT * FROM
		(SELECT * FROM
		(SELECT ROWNUM R,L.* FROM
		(SELECT *
		FROM LICENSE 
		<include refid="search"></include>
		ORDER BY LICENSENUM ASC) L)
		WHERE R BETWEEN #{startRow} AND #{lastRow}
		) ORDER BY LICENSEHITS DESC
	</select>

	<select id="getCount" resultType="Long" parameterType="Pager">
		SELECT
		COUNT(LICENSENUM) FROM LICENSE
	</select>

	<update id="setHits" parameterType="LicenseDTO">
		UPDATE LICENSE SET
		LICENSEHITS=LICENSEHITS+1 WHERE LICENSENUM=#{licenseNum}
	</update>
	<select id="getLicenseName" resultType="LicenseDTO"
		parameterType="LicenseDTO">
		SELECT LICENSENUM,LICENSENAME,LICENSEHITS FROM LICENSE
		WHERE LICENSENUM=#{licenseNum}
	</select>

	<!-- BOOK -->

	<select id="getDetailBook" parameterType="LicenseDTO"
		resultMap="getBook">

		SELECT ROWNUM
		R,L.LICENSENAME,L.LICENSEHITS,B.BOOKNAME,B.BOOKPRICE,B.BOOKIMAGE
		FROM
		LICENSE L
		INNER JOIN
		LICENSEBOOK LB
		USING (LICENSENUM)
		INNER JOIN
		BOOK B
		USING (BOOKNUM)
		WHERE LICENSENUM=#{licenseNum}
		ORDER BY R ASC
	</select>

	<resultMap type="LicenseDTO" id="getBook">
		<id column="LICENSENUM" property="licenseNum" />
		<result column="LICENSENAME" property="licenseName" />
		<result column="LICENSEHITS" property="licenseHits" />
		<association property="bookDTO" javaType="BookDTO">
			<id column="BOOKNUM" property="bookNum" />
			<result column="BOOKNAME" property="bookName" />
			<result column="BOOKIMAGE" property="bookImage" />
			<result column="BOOKPRICE" property="bookPrice" />
		</association>
	</resultMap>

	<!-- VIDEO -->

	<select id="getDetailVideo" parameterType="LicenseDTO"
		resultMap="getVideo">

		SELECT ROWNUM R,L.LICENSENAME,V.VIDEOTITLE,V.VIDEOLINK
		FROM LICENSE L
		INNER JOIN
		LICENSEVIDEO LV
		USING (LICENSENUM)
		INNER JOIN
		VIDEO V
		USING (VIDEONUM)
		WHERE LICENSENUM=#{licenseNum}
		ORDER BY R ASC
	</select>

	<resultMap type="LicenseDTO" id="getVideo">
		<id column="LICENSENUM" property="licenseNum" />
		<result column="LICENSENAME" property="licenseName" />
		<association property="videoDTO" javaType="VideoDTO">
			<id column="VIDEONUM" property="videoNum" />
			<result column="VIDEOTITLE" property="videoTitle" />
			<result column="VIDEOLINK" property="videoLink" />
		</association>
	</resultMap>
	<!-- JOB -->

	<select id="getDetailJob" parameterType="LicenseDTO"
		resultMap="getJob">

		SELECT ROWNUM R,L.LICENSENAME,J.JOBNAME,J.JOBINTRO
		FROM LICENSE L
		INNER JOIN
		LICENSEJOB LJ
		USING (LICENSENUM)
		INNER JOIN
		JOB J
		USING (JOBNUM)
		WHERE LICENSENUM=#{licenseNum}
		ORDER BY R ASC
	</select>

	<resultMap type="LicenseDTO" id="getJob">
		<id column="LICENSENUM" property="licenseNum" />
		<result column="LICENSENAME" property="licenseName" />
		<association property="jobDTO" javaType="JobDTO">
			<id column="JOBNUM" property="jobNum" />
			<result column="JOBNAME" property="jobName" />
			<result column="JOBINTRO" property="jobIntro" />
		</association>
	</resultMap>
	<!-- SCHEDULE -->

	<select id="getDetailSchedule" parameterType="LicenseDTO"
		resultMap="getSchedule">

		SELECT ROWNUM R,L.LICENSENAME,S.SCHEDULENAME,S.SCHEDULEDATE
		FROM SCHEDULE S
		INNER JOIN
		LICENSESCHEDULE LS
		USING (SCHEDULENUM)
		INNER JOIN
		LICENSE L
		USING (LICENSENUM)
		WHERE LICENSENUM=#{licenseNum}
		ORDER BY R ASC
	</select>

	<resultMap type="scheduleDTO" id="getSchedule">
		<id column="SCHEDULENUM" property="scheduleNum" />
		<result column="SCHEDULENAME" property="scheduleName" />
		<result column="SCHEDULEDATE" property="scheduleDate" />
		<association property="licenseDTO" javaType="licenseDTO">
			<id column="LICENSENUM" property="licenseNum" />
			<result column="LICENSENAME" property="licenseName" />
			<result column="LICENSEHITS" property="licenseHits" />
		</association>
	</resultMap>

	<insert id="setAdd" parameterType="LicenseDTO">
		<selectKey keyProperty="licenseNum" order="BEFORE"
			resultType="Long">
			SELECT LICENSE_SEQ.NEXTVAL FROM DUAL
		</selectKey>

		INSERT INTO LICENSEQNA
		(QNANUM,LICENSENUM,TITLE,CONTENTS,WRITER,REGDATE,HIT,REF,STEP,DEPTH)
		VALUES(#{qnaNum},#{licenseNum},#{title},#{contents},#{writer},SYSDATE,0,#{qnaNum},0,0)
	</insert>

	<update id="setUpdateSchedule" parameterType="ScheduleDTO">
		UPDATE SCHEDULE SET
		SCHEDULENAME=#{scheduleName}, SCHEDULEDATE=#{scheduleDate} WHERE
		SCHEDULENUM =#{scheduleNum}
	</update>

	<update id="setUpdateBook" parameterType="BookDTO">
		UPDATE BOOK SET
		BOOKNAME=#{bookName}, BOOKPRICE=#{bookPrice} WHERE BOOKNUM =#{bookNum}
	</update>

	<update id="setUpdateVideo" parameterType="VideoDTO">
		UPDATE VIDEO SET
		VIDEOTITLE=#{videoTitle}, VIDEOLINK=#{videoLink} WHERE VIDEONUM
		=#{videoNum}
	</update>

	<update id="setUpdateJob" parameterType="JobDTO">
		UPDATE JOB SET
		JOBNAME=#{jobName}, JOBINTRO=#{jobIntro} WHERE JOBNUM =#{jobNum}
	</update>
	
	<select id="getScheduleNum" parameterType="ArrDTO" resultType="ArrDTO">
		SELECT SCHEDULENUM FROM LICENSESCHEDULE WHERE LICENSENUM=#{licenseNum}
	</select>

	<select id="getBookNum" parameterType="ArrDTO"
		resultType="ArrDTO">
		SELECT BOOKNUM FROM LICENSEBOOK WHERE
		LICENSENUM=#{licenseNum}
	</select>

	<select id="getVideoNum" parameterType="ArrDTO"
		resultType="ArrDTO">
		SELECT VIDEONUM FROM LICENSEVIDEO WHERE
		LICENSENUM=#{licenseNum}
	</select>

	<select id="getJobNum" parameterType="ArrDTO"
		resultType="ArrDTO">
		SELECT JOBNUM FROM LICENSEJOB WHERE
		LICENSENUM=#{licenseNum}
	</select>
	
	<insert id="setAddSchedule" parameterType="ScheduleDTO">
		INSERT INTO SCHEDULE VALUES(LI_SEQ.NEXTVAL,#{scheduleName},#{scheduleDate})
	</insert>
	
	<select id="getScheduleNumSeq" parameterType="ScheduleDTO" resultType="Long">
		SELECT SCHEDULENUM FROM SCHEDULE WHERE SCHEDULENAME=#{scheduleName}
	</select>
	
	<insert id="setScheduleLink" parameterType="ArrDTO">
		INSERT INTO LICENSESCHEDULE VALUES(LI_SEQ.NEXTVAL,#{licenseNum},#{scheduleNum})
	</insert>

	<insert id="setAddBook" parameterType="BookDTO">
		INSERT INTO BOOK VALUES(LI_SEQ.NEXTVAL,#{bookName},'https://previews.123rf.com/images/oasis15/oasis151506/oasis15150600005/40908970-%EB%B9%88-%EC%B1%85-%ED%91%9C%EC%A7%80.jpg',#{bookPrice})
	</insert>
	
	<select id="getBookNumSeq" parameterType="BookDTO" resultType="Long">
		SELECT BOOKNUM FROM BOOK WHERE BOOKNAME=#{bookName}
	</select>
	
	<insert id="setBookLink" parameterType="ArrDTO">
		INSERT INTO LICENSEBOOK VALUES(LI_SEQ.NEXTVAL,#{licenseNum},#{bookNum})
	</insert>
	
	<insert id="setAddVideo" parameterType="VideoDTO">
		INSERT INTO VIDEO VALUES(LI_SEQ.NEXTVAL,#{videoTitle},#{videoLink})
	</insert>
	<select id="getVideoNumSeq" parameterType="VideoDTO" resultType="Long">
		SELECT VIDEONUM FROM VIDEO WHERE VIDEOTITLE=#{videoTitle}
	</select>
	
	<insert id="setVideoLink" parameterType="ArrDTO">
		INSERT INTO LICENSEVIDEO VALUES(LI_SEQ.NEXTVAL,#{licenseNum},#{videoNum})
	</insert>
	<insert id="setAddJob" parameterType="JobDTO">
		INSERT INTO JOB VALUES(LI_SEQ.NEXTVAL,#{jobName},#{jobIntro})
	</insert>
	
	<select id="getJobNumSeq" parameterType="JobDTO" resultType="Long">
		SELECT JOBNUM FROM JOB WHERE JOBNAME=#{jobName}
	</select>
	
	<insert id="setJobLink" parameterType="ArrDTO">
		INSERT INTO LICENSEJOB VALUES(LI_SEQ.NEXTVAL,#{licenseNum},#{jobNum})
	</insert>
	
	<delete id="setDelSchedule" parameterType="ScheduleDTO">
		DELETE FROM LICENSESCHEDULE 
		WHERE SCHEDULENUM=(
			SELECT SCHEDULENUM FROM SCHEDULE WHERE SCHEDULENAME=#{scheduleName} and SCHEDULEDATE=#{scheduleDate})
	</delete>
	
	<delete id="setDelBook" parameterType="BookDTO">
		DELETE FROM LICENSEBOOK 
		WHERE BOOKNUM=(
			SELECT BOOKNUM FROM BOOK WHERE BOOKNAME=#{bookName} and BOOKPRICE=#{bookPrice})
	</delete>
	
	<delete id="setDelVideo" parameterType="VideoDTO">
		DELETE FROM LICENSEVIDEO 
		WHERE VIDEONUM=(
			SELECT VIDEONUM FROM VIDEO WHERE VIDEOTITLE=#{videoTitle} and VIDEOLINK=#{videoLink})
	</delete>
	
	<delete id="setDelJob" parameterType="JobDTO">
		DELETE FROM LICENSEJOB 
		WHERE JOBNUM=(
			SELECT JOBNUM FROM JOB WHERE JOBNAME=#{jobName} and JOBINTRO=#{jobIntro})
	</delete>
	
	<delete id="setLikes" parameterType="ArrDTO">
		INSERT INTO LICENSELIKE VALUES(LI_SEQ.NEXTVAL,#{num},#{licenseNum},SYSDATE)
	</delete>

</mapper>