<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="com.iu.home.licenseorder.OrderDAO">
 
 	<insert id ="insert_pay" parameterType="OrderDTO">
 		insert into SC_ORDER_USER
 		values(#{orderNum},#{productNum}, #{num},#{orderDate},#{totalPrice}, #{imp_uid})
	</insert>
    
    <insert id ="insert_payinfo" parameterType="PayDTO">
    	INSERT INTO SCPAY
    	VALUES(CAFE_SEQ.NEXTVAL,#{num},#{orderNum},#{payMethod},#{payName},SYSDATE,#{payAmount})   
    </insert>
    <select id="getLastPay" parameterType = "PayDTO" resultType="PayDTO">
	    SELECT *
	        FROM scpay
	        WHERE paynum = (SELECT MAX(payNum)
			FROM scpay)
    </select>
    
    <select id="getPay" resultType="PayDTO">
        SELECT *
        FROM SCpay
        WHERE payNum = #{payNum}
    </select>
    
    <select id="orderCount" parameterType="Long" resultType="Long">
    	SELECT orderNum
    	FROM SCPAY
    	WHERE num=#{num}
    </select>
    
    <!-- 주문 목록 -->
    <select id="myOrderList" parameterType="Long" resultType="ORDERDTO">
		SELECT *
		from SC_ORDER_USER  o
		JOIN STUDYCAFEDETAIL  p ON p.productNum= o.productNum
		WHERE o.orderNum=#{orderNum}
    </select>
    
    
    
</mapper>