<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="com.iu.home.licenseorder.OrderDAO">
 	
 	<!-- 주문 정보 생성 -->
 	<insert id ="insert_pay" parameterType="OrderDTO">
 		insert into SC_ORDER_USER
 		values(#{orderNum},#{productNum}, #{num},#{productName},#{orderDate},#{totalPrice}, #{imp_uid},#{reserNum})
	</insert>
    
    <!-- 결제 정보 생성 -->
    <insert id ="insert_payinfo" parameterType="PayDTO">
    	INSERT INTO SCPAY
    	VALUES(CAFE_SEQ.NEXTVAL,#{num},#{orderNum},#{payMethod},#{payName},SYSDATE,#{payAmount})   
    </insert>
    
    <!-- 가장 마지막 주문번호 찾기 -->
    <select id="getLastOrderNum" resultType="int">
        SELECT MAX(orderNum)
        FROM sc_order_NUM
    </select>
    
    <!-- 마지막에 결제된 방금 결제된 주문정보 가져오기 -->
    <select id="getLastPay" parameterType = "PayDTO" resultType="PayDTO">
	    SELECT *
	        FROM scpay
	        WHERE paynum = (SELECT MAX(payNum)
			FROM scpay)
    </select>
    
    <!--  결제 정보 가져오기 -->
    <select id="getPay" resultType="PayDTO">
        SELECT * FROM 
		SCPAY SP
		INNER JOIN
		STUDYCAFEDETAIL SD
		ON (SP.PAYNAME = SD.SCNAME)
		WHERE paynum = #{payNum}
    </select>
    
    <!-- 회원의 주문개수  -->
    <select id="orderCount" parameterType="String" resultType="Long">
    	SELECT orderNum
    	FROM SCPAY
    	WHERE num=#{num}
    </select>
    
    <!-- 회원의 주문 목록 -->
    <select id="myOrderList" parameterType="Long" resultType="OrderDTO">
		SELECT *
		from SC_ORDER_USER  o
		JOIN RESERVATION RV
        ON (o.reserNum = RV.reserNum)
		INNER JOIN 
		STUDYCAFEDETAIL p 
		ON (p.detailNum= o.productNum)
		WHERE o.orderNum=#{orderNum}
    </select>
    
    <select id="getOrderListDetail" resultType="OrderDTO">
		SELECT *
		from SC_ORDER_USER  o
        JOIN 
        LICENSEMEMBERS LM
        ON (o.num = LM.num)
		JOIN RESERVATION RV
        ON (o.reserNum = RV.reserNum)
		INNER JOIN 
		STUDYCAFEDETAIL p 
		ON (p.detailNum= o.productNum)
		WHERE o.orderNum=#{orderNum}    
    </select>
    
    <!-- 관리자 회원주문개수 -->
    <select id="orderAdminCount" parameterType="String" resultType="Long">
    	SELECT orderNum
    	FROM SCPAY
    </select>
    
    <!-- 관리자 회원주문목록 -->
    <select id="adminOrderList" parameterType="Long" resultType="OrderDTO">
		SELECT *
		from SC_ORDER_USER  o
		JOIN RESERVATION RV
        ON (o.reserNum = RV.reserNum)
		INNER JOIN 
		STUDYCAFEDETAIL p 
		ON (p.detailNum= o.productNum)
		WHERE o.orderNum=#{orderNum}
    </select>
    
    
    
    
</mapper>