<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	
	<mapper namespace="com.iu.home.licenseQna.QnaDAO">
	
	<sql id="search">
	WHERE
		<choose>
			<when test="kind == 'title'">Title</when>
			<when test="kind =='writer'">Writer</when>
			<otherwise>contents</otherwise>
		</choose>
		LIKE '%'||#{search}||'%'
		</sql>
	
	<select id="getList" resultType="QnaDTO"
	parameterType="Pager">
	SELECT * FROM
	(SELECT ROWNUM R,N.* FROM
	(SELECT * FROM LICENSEQNA
	<include refid="search"></include> 
	ORDER BY REF DESC, STEP ASC) N)
	WHERE R BETWEEN
	#{startRow} AND #{lastRow}
	</select>
	
	<select id="getDetail" parameterType="QnaDTO"
	resultType="QnaDTO">
	SELECT * FROM LICENSEQNA WHERE QNANUM = #{qnaNum}
	</select>
	
	<insert id="setAdd" parameterType="QnaDTO">
		<selectKey keyProperty="qnaNum" order="BEFORE" resultType="Long">
		SELECT LICENSE_SEQ.NEXTVAL FROM DUAL
		</selectKey>
	
	INSERT INTO LICENSEQNA
	(QNANUM,LICENSENUM,TITLE,CONTENTS,WRITER,REGDATE,HIT,REF,STEP,DEPTH)
	VALUES(#{qnaNum},6,#{title},#{contents},#{writer},SYSDATE,0,#{qnaNum},0,0)
	</insert>
	
	<insert id="setReplyAdd" parameterType="QnaDTO">
	<selectKey keyProperty="qnaNum" order="BEFORE" resultType="Long">
	SELECT LICENSE_SEQ.NEXTVAL FROM DUAL
	</selectKey>
	 INSERT INTO LICENSEQNA
		(QNANUM,LICENSENUM,TITLE,CONTENTS,WRITER,REGDATE,HIT,REF,STEP,DEPTH)
		VALUES(#{qnaNum},6,#{title},#{contents},#{writer},SYSDATE,
		0,#{ref},#{step},#{depth})
	</insert>
	
	<insert id="setUpdate" parameterType="QnaDTO">
	UPDATE LICENSEQNA SET
	TITLE=#{title},CONTENTS=#{contents} WHERE QNANUM=#{qnaNum}
	</insert>
	
	<update id="setStepUpdate" parameterType="QnaDTO">
	UPDATE LICENSEQNA SET STEP=STEP+1 WHERE REF=#{ref} AND STEP > #{step}
	</update>
	
	<delete id="setDelete" parameterType="QnaDTO">
	DELETE LICENSEQNA WHERE QNANUM=#{qnaNum}
	</delete>
	
	<select id="getCount" resultType="Long"
		parameterType="Pager">
		SELECT COUNT(QNANUM)FROM LICENSEQNA
		<include refid="search"></include>
		</select>
	
	
	</mapper>
	
	
